.face-snap-card {
    box-sizing: border-box;
    width: 35%;
    box-shadow: lightgray 4px 4px 10px;
    border-radius: 3px;
    padding: 10px 20px;
    margin: 20px auto;

    img {
        width: 100%;
    }

    button {
        padding: 10px 20px;
        font-size: 1em;
        cursor: pointer;
        font-weight: bold;
    }
}

.snapped {
    background-color: rgba(lightgreen, 0.4);
    color: darkgreen;
    button {
        box-shadow: lightgreen 3px 3px 7px;
        color: darkgreen;
        &:active {
            box-shadow: lightgreen 0 0 5px;
        }
    }
}
